/*
Theme Name:   Storefront Child Theme
Description:  Storefront is the perfect theme for your next WooCommerce project. Designed and developed by WooCommerce Core developers, it features a bespoke integration with WooCommerce itself plus many of the most popular customer facing WooCommerce extensions. There are several layout & color options to personalise your shop, multiple widget regions, a responsive design and much more. Developers will love its lean and extensible codebase making it a joy to customize and extend. Looking for a WooCommerce theme? Look no further!
Version:      1.0.0
Template:     storefront
Text Domain:  storefrontchild
*/
.single-product div.summary.entry-summary > div.woocommerce-product-details__short-description {
    margin-bottom: 10%;
}
.single-product .product_title.entry-title .word11 {
    font-size: 30px;
}
.single-product p.price {
    font-size: 25px;
}
.single-product .single-pd-spec-text {
    font-size: 20px;
    font-weight: bold;
}

.storefront-breadcrumb {
    font-size: 12px;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.single-product div.product .variations_button {
    padding-top: 0;
}

.single-product .single_add_to_cart_button.button.alt {
    width: 100%;
}

.single-product .wrap2,
.woocommerce-cart.woocommerce-page .wrap2{
    border-radius: 10px;
    border: 1px solid rgba(238, 238, 238, 1);
    display: inline-block;
    cursor: pointer;
    width: 60px;
    height: 27px;
    vertical-align: middle;
}
.single-product .wrap2.plus,
.woocommerce-cart.woocommerce-page .wrap2.plus {
    margin: 4.7px 4.7px 4.7px 15px !important;
}
.single-product .wrap2.sub,
.woocommerce-cart.woocommerce-page .wrap2.sub {
    margin: 4.7px 0px 4.7px 8px !important;
}
.single-product .word-sub,
.single-product .word-plus,
.woocommerce-cart.woocommerce-page .word-sub,
.woocommerce-cart.woocommerce-page .word-plus {
    display: block;
    font-size: 12px;
    text-align: center;
    margin-top: 1.5px;
    width: 60px;
    height: 27px;
}
.single-product div.summary.entry-summary > form > div.single_variation_wrap > div.woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-disabled > div {
    width: 288px;
}
.single-product .word-pd-attr-name {
    width: 48px;
    overflow-wrap: break-word;
    color: rgba(117, 117, 117, 1);
    font-size: 16px;
    white-space: nowrap;
    line-height: 22px;
    text-align: left;
}

.single-product .box {
    display: inline-block;
    border-radius: 10px;
    border-width: 1px;
    border: 1px solid rgba(238, 238, 238, 1);
    min-width: 60px;
    padding-left: 1%;
    padding-right: 1%;
    margin: 2%;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
}

.single-product .info {
    width: 24px;
    color: rgba(117, 117, 117, 1);
    font-size: 12px;
    white-space: nowrap;
}

.single-product .single-pd-spec-option {
    width: 300px;
    cursor: pointer;
}

.single-product .single-pd-spec-option-title {
    display: inline-block;
    float: left;
}

.single-product .single-pd-spec-option-content {
    display: inline-block;
    float: right;
    width: 80%;
    margin-top: -5px;
}

.single-product .variation-box-normal {
    background-color: rgba(255, 255, 255, 1);
}

.single-product .variation-text-normal {
    color: rgba(117, 117, 117, 1);
}

.single-product .variation-box-hover {
    background-color: rgba(238, 238, 238, 1);
}

.single-product .variation-text-hover {
    color: rgba(117, 117, 117, 1);
}

.single-product .variation-box-clicked {
    background-color: rgba(33, 150, 243, 1);
}

.single-product .variation-text-selected {
    color: rgba(255, 255, 255, 1);
}

.single-product table.variations {
    display: none;
}

.single-product .woocommerce-product-details__short-description p,
.single-product .woocommerce-product-details__short-description div {
    display: inline-block !important;
}

.single-product .woocommerce-product-details__short-description div {
    float: right;
}

.single-pd-cat-info {
    display: inline-block;
}

.single-pd-cat-thumbnail {
    border-radius: 50%;
    width: 10%;
    height: 20%;
    display: inline-block;
}

.single-pd-cat-text {
    display: inline-block;
    width: 80%;
}

.single-pd-cat-name, .single-pd-cat-des {
    display: block;
}

.single-product div.summary.entry-summary > form > div.single_variation_wrap > div.woocommerce-variation-add-to-cart.variations_button > div input[type="number"] ,
.single-product .product-type-simple div.summary.entry-summary > form > div input[type="number"] ,
.woocommerce-cart.woocommerce-page div.entry-content > div > form > table.cart.woocommerce-cart-form__contents > tbody input[type="number"] {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 60px;
}

.single-product .product_meta {
    display: none;
}

.single-product div.summary.entry-summary > div.storefront-breadcrumb > div {
    padding-left: 0;
    margin-left: 0;
    padding-top: 0;
}

.woocommerce-checkout.woocommerce-page .wc-thank-you-img {
    width: 118px;
    height: 175px;
    background: url('/wp-content/uploads/2021/08/img_shopï¼Successful_purchase.png') 100% no-repeat;
    margin-top: 195px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.woocommerce-checkout.woocommerce-page .wc-thank-you-successful {
    color: white;
    background-color: rgba(33, 150, 243, 1);
}

.woocommerce-checkout.woocommerce-page .wc-thank-you-info {
    text-align: center;
}

.woocommerce-checkout.woocommerce-page .entry-header {
    display: none;
}

.single-product .tab-pd-wrapper {
    height: 120px;
}
.single-product .storefront-full-width-content .woocommerce-tabs .panel {
    margin-bottom: 8em !important;
}
.single-product .tab-read-more {
    float: right;
    background-color: #0000;
    border-color: #0000;
    color: #9E9E9E;
}
.single-product .site-header {
    border-bottom: 0;
}

.woocommerce-cart.woocommerce-page #coupon_code {
    background-color: white;
    border: 0.1px #BBDEFB solid;
}
.woocommerce-cart.woocommerce-page #coupon_code::placeholder {
    color: #2196F3;
    font-weight: bold;
}

.woocommerce-cart.woocommerce-page button[name="apply_coupon"] ,
.woocommerce-cart.woocommerce-page button[name="update_cart"] {
    background-color: rgba(33, 150, 243, 1);
    color: rgba(255, 255, 255, 1);
}

.woocommerce-cart.woocommerce-page div.entry-content > div > form > table > tbody > tr:nth-child(2) > td:nth-child(2) {
    text-align: center;
}

#woocommerce-product-search-field-0 {
    background-color: white;
}
.woocommerce-cart.woocommerce-page .product-remove {
    top: 10%;
    left: 3%;
}
.woocommerce-cart.woocommerce-page .product-thumbnail {
    text-align: center;
}
.woocommerce-cart .entry-header {
     padding: 0!important;
}
.woocommerce-cart .entry-title {
     margin-left: -93%;
     margin-top: 4%;
     font-size: 25px;
     font-weight: bold;
 }

.single-product .product-type-simple .single-pd-cat-info {
    display: none;
}
@media screen and (min-width: 768px) {
    .single-product div.product form.cart .quantity {
        margin-right: 0;
    }

    .single-product .wpgs.woocommerce-product-gallery.wpgs--with-images.images {
        width: 60%;
    }

    .single-product .woocommerce-product-gallery__image.single-product-main-image.slick-slide.slick-current.slick-active,
    .single-product .wpgs.woocommerce-product-gallery.wpgs--with-images.images .slick-track .slick-slide a img {
        width: 637px;
        height: 637px;
    }

    .single-product .wpgs-for.slick-initialized.slick-slider .slick-list {
        height: 637px;
    }

    .single-product div.summary.entry-summary {
        width: 35% !important;
    }

    .single-product .summary.entry-summary {
        margin-bottom: 0 !important;
    }

    .single-product div.summary.entry-summary > form > div.single_variation_wrap > div.woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-disabled > div {
        margin-bottom: 5px;
    }

    .single-product div.summary.entry-summary > div.woocommerce-product-details__short-description > div > div > span {
        display: block;
    }
}

@media screen and (max-width: 767px) {
    .storefront-breadcrumb {
        display: none !important;
    }
    .tab-read-more {
        margin-right: 30%;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .single-product .wpgs.woocommerce-product-gallery.wpgs--with-images.images .slick-track .slick-slide a img {
        width: 435px;
    }

    .single-product div.wpgs.woocommerce-product-gallery.wpgs--with-images.images > div.wpgs-nav.slick-initialized.slick-slider > div > div > div.slick-slide.slick-active {
        width: 100px !important;
    }


    .woocommerce-cart.woocommerce-page .cart_totals h2{
        display: none;
    }

    .woocommerce-cart.woocommerce-page input[name="coupon_code"] {
        float: left;
        width: 46% !important;
        display: inline-block !important;
        margin-top: 16% !important;
        font-size: 100%;
    }
    .woocommerce-cart.woocommerce-page button[name="apply_coupon"] {
        float: right;
        width: fit-content;
        display: inline-block;
        margin-top: 16%;
        font-size: 100%;
    }
    .woocommerce-cart.woocommerce-page button[name="update_cart"] {
        margin-top: 10%;
        width: 100%;
    }

    .woocommerce-cart.woocommerce-page td.product-remove a {
        position: inherit !important;
    }
    .woocommerce-cart.woocommerce-page table.shop_table_responsive tr td[data-title]::before {
        display: none;
    }
    .woocommerce-cart.woocommerce-page .entry-title {
        margin-left: 0 !important;
    }
    .woocommerce-cart.woocommerce-page .product-thumbnail {
        display: inline-block;
        width: 31%;
        height: 63%;
        min-height: 121px;
    }
    .woocommerce-cart.woocommerce-page .product-name {
        display: inline-block!important;
        width: 66% !important;
    }
    .woocommerce-cart.woocommerce-page .wrap2.plus ,
    .woocommerce-cart.woocommerce-page .wrap2.sub {
        margin: 4.7px 0px 4.7px 0px !important;
        width: 40px!important;
    }
    .woocommerce-cart.woocommerce-page .word-plus ,
    .woocommerce-cart.woocommerce-page .word-sub {
        width: 40px!important;
    }
    .woocommerce-cart.woocommerce-page div.entry-content > div > form > table > tbody tr td.product-thumbnail > a > img {
        margin-bottom: 50%;
    }
}

@media screen and (min-width: 1px) and (max-width: 479px) {
    .single-pd-cat-info,
    #tab-description,
    #tab-pd_spec,
    #tab-reviews,
    .single-product section.up-sells.upsells.products,
    .single-product section.related.products {
        border-top: 1rem solid #EEEEEE;
    }

    .single-product div.product form.cart .quantity {
        margin-right: 0;
    }

    .woocommerce-cart.woocommerce-page .cart_totals h2{
        display: none;
    }

    .woocommerce-cart.woocommerce-page input[name="coupon_code"] {
        float: left;
        width: 46% !important;
        display: inline-block !important;
        margin-top: 16% !important;
        font-size: 100%;
    }
    .woocommerce-cart.woocommerce-page button[name="apply_coupon"] {
        float: right;
        width: fit-content;
        display: inline-block;
        margin-top: 16%;
        font-size: 100%;
    }
    .woocommerce-cart.woocommerce-page button[name="update_cart"] {
        margin-top: 10%;
        width: 100%;
    }

    .woocommerce-cart.woocommerce-page td.product-remove a {
        position: inherit !important;
    }
    .woocommerce-cart.woocommerce-page table.shop_table_responsive tr td[data-title]::before {
        display: none;
    }
    .woocommerce-cart.woocommerce-page .entry-title {
        margin-left: 0 !important;
    }
    .woocommerce-cart.woocommerce-page .product-thumbnail {
        display: inline-block;
        width: 31%;
        height: 63%;
        min-height: 121px;
    }
    .woocommerce-cart.woocommerce-page .product-name {
        display: inline-block!important;
        width: 66% !important;
    }
    .woocommerce-cart.woocommerce-page .wrap2.plus ,
    .woocommerce-cart.woocommerce-page .wrap2.sub {
        margin: 4.7px 0px 4.7px 0px !important;
        width: 40px!important;
    }
    .woocommerce-cart.woocommerce-page .word-plus ,
    .woocommerce-cart.woocommerce-page .word-sub {
        width: 40px!important;
    }
    .woocommerce-cart.woocommerce-page div.entry-content > div > form > table > tbody tr td.product-thumbnail > a > img {
        margin-bottom: 133%;
    }
}
