body.home .home-page-special-plan {
    padding-left: 10%;
    background-color: white;
}
body.home .special-plan-single-pd-cat-info {
    margin: 2% 5% 2% 1%;
    width: 48px;
    height: 48px;
    display: inline-block;
}

.single-product .special-plan-single-pd-cat-info .single-pd-cat-name {
    display: block;
    color: black;
    font-weight: bold;
}
.single-product .special-plan-single-pd-cat-info .single-pd-cat-des {
    display: block;
    color: #9E9E9E!important;
    font-weight: bold;
}

body.home .special-plan-single-pd-cat-info p {
    color: black;
    font-size: 12px;

    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}

body.home .single-pd-cat-thumbnail {
    width: 48px;
    height: 48px;
}

body.home .hot-product-single-pd-cat-info.slick-slide,
body.home .hot-channel-single-pd-cat-info.slick-slide,
body.home .doweing-category-single-pd-cat-info,
body.home .slick-slide  .recommend-product-single-pd-cat-info {
    text-align: center;
    color: black;
}

body.home a.hot-product-single-pd-cat-info.slick-slide > img,
body.home a.hot-channel-single-pd-cat-info.slick-slide > img,
body.home a.doweing-category-single-pd-cat-info > img {
    width: 114px;
    height:112px;
}
body.home .slick-slide a.recommend-product-single-pd-cat-info > img {
    width: 127px;
    height:184px;
}

body.home .home-page-hot-product,
body.home .home-page-hot-channel,
body.home .home-page-doweing-category,
body.home .home-page-recommend-product {
    margin-bottom: 5%;
    background-color: white;
}

body.home .home-page-hot-product h3,
body.home .home-page-hot-channel h3,
body.home .home-page-doweing-category h3,
body.home .home-page-recommend-product h3 {
    font-weight: bold;
}

body.home .home-page-hot-channel .header,
body.home .home-page-hot-product .header,
body.home .home-page-doweing-category .header,
body.home .home-page-recommend-product .header {
    display: block;
}

body.home .home-page-hot-channel .header h3,
body.home .home-page-hot-product .header h3,
body.home .home-page-doweing-category .header h3,
body.home .home-page-recommend-product .header h3 {
    display: inline-block;
}

body.home .home-page-hot-product .header p,
body.home .home-page-recommend-product .header p {
    display: inline-block;
    float: right;
}

body.home .home-page-hot-channel .header p a,
body.home .home-page-hot-product .header p a,
body.home .home-page-doweing-category .header p a,
body.home .home-page-recommend-product .header p a {
    color: #BDBDBD;
    font-size: 20px;
    font-weight: bold;
}

body.home .home-page-hot-channel div.slick-list p,
body.home .home-page-hot-product div.slick-list p,
body.home .home-page-doweing-category div.slick-list p,
body.home .home-page-recommend-product div.slick-list p {
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}

body.home .slick-prev:before ,
body.home .slick-next:before {
    opacity: 0.35;
    color: black;
}
#masthead {
    margin-bottom: 0;
}

@media screen and (min-width: 1024px) {
    #masthead {
        padding-bottom: 2%;
    }
    body.home div > div.n2-ss-slider-1.n2_ss__touch_element.n2-ow > div > div > div.n2-ss-slider-4.n2-ow {
        height: 265px !important;
    }
}

@media screen and (max-width: 768px){
    body.home a.hot-product-single-pd-cat-info.slick-slide > img,
    body.home a.hot-channel-single-pd-cat-info.slick-slide > img,
    body.home .slick-slide a.doweing-category-single-pd-cat-info > img,
    body.home a.recommend-product-single-pd-cat-info > img {
        margin-left: auto;
        margin-right: auto;
        padding-left: 5% !important;
    }

    body.home .special-plan-single-pd-cat-info {
        margin-right: 3%;
    }

    body.home .home-page-special-plan {
        padding-left: 5%;
    }
}

@media screen and (max-width: 480px){
    body.home .special-plan-single-pd-cat-info {
        margin: 2% 2% 2% 6%;
    }
    body.home .home-page-special-plan {
        margin-top: 5%;
        margin-bottom: 10%;
    }
    body.home .home-page-hot-product,
    body.home .home-page-hot-channel,
    body.home .home-page-doweing-category {
        margin-bottom: 15%;
    }
    #masthead div.site-title {
        margin-left: 100%;
    }

    body.home a.recommend-product-single-pd-cat-info.slick-slide {
        color: black;
        text-align: center;
    }

    body.home a.recommend-product-single-pd-cat-info.slick-slide > img {
        width: 127px;
        height:184px;
    }

    body.home .home-page-special-plan {
        padding-left: 9%;
    }
}

@media screen and (max-width: 320px){
    #masthead div.site-title {
        margin-left: 50%;
    }

}
