body.archive div > ul > li.product.type-product a.woocommerce-LoopProduct-link.woocommerce-loop-product__link > div,
body.archive #main > div > ul > li.product.type-product.status-publish a.woocommerce-LoopProduct-link.woocommerce-loop-product__link > span.onsale {
    display: none;
}

body.archive span.price bdi {
    color: #EB6C00;
    font-weight: bold;
}

body.archive #main > div form > select {
    width: 100%;
    color: #BDBDBD;
    border: 0.1px solid #BDBDBD;
    font-weight: bold;
    opacity: 0.7;
}

body.archive #main > div > div:nth-child(3),
body.archive #main > div > div:nth-child(1) > p {
    display: none;
}
body.archive #main > h3 {
    font-weight: bold;
}

body.archive a.button.add_to_cart_button ,
body.archive a.button.product_type_external {
    width: 100%;
    padding: 5%;
}
body.archive a.button.add_to_cart_button,
body.archive a.button.product_type_external {
    display: inline-block;
    width: 26%;
    border-radius: 50%;
    background-color: #2196F3;
    color: white;
    margin-top: -33%!important;
    float: right;
    height: 2.6em;
}
body.archive a.button.add_to_cart_button:after,
body.archive a.button.product_type_external:after{
    content: '\f07a' !important;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    line-height: 1!important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    vertical-align: baseline;
    height: 1em;
}
body.archive #main > div > ul > li.product.type-product a.woocommerce-loop-product__link > span.price {
    float: left;
    width: 108px;
}

body.archive a.button.product_type_external {
    float: none;
}
@media screen and (max-width: 1024px) {
    body.archive a.button.add_to_cart_button,
    body.archive a.button.product_type_external {
        margin-top: -38% !important;
    }

    body.archive li.sale a.button.add_to_cart_button {
        margin-top: -47% !important;
    }
}

@media screen and (min-width: 768px) {
    body.archive #main > h3 {
        margin-top: 30px;
        font-size: 2.3em;
    }
}

@media screen and (max-width: 768px) {
    body.archive #masthead {
        height: 120px;
    }

    body.archive a.button.add_to_cart_button,
    body.archive a.button.product_type_external {
        width: 110% !important;
        text-align: center;
        line-height: 2;
    }

    body.archive li.sale span.price {
        width: 65%;
    }

    body.archive li.sale a.button.add_to_cart_button {
        margin-top: -68% !important;
        float: right;
        margin-right: -10%;
    }

    body.archive a.button.add_to_cart_button,
    body.archive a.button.product_type_external {
        width: 38% !important;
    }

    body.archive a.button.add_to_cart_button {
        margin-top: -45%!important;
        margin-right: -6%;
    }
    body.archive a.button.product_type_external ,
    body.archive li.sale a.button.product_type_external  {
        margin-top: 3%!important;
    }

    body.archive #main > div > ul > li.product.type-product a.woocommerce-loop-product__link > span.price {
        font-size: 12px;
        width: 73%;
        float: left;
    }
}

@media screen and (max-width: 480px) {
    body.archive #masthead {
        height: 80px;
    }

    ul.products li.product:nth-child(odd){
        margin-left: 1.5%;
        margin-right: 6%;
        float: left;
    }

    ul.products li.product:nth-child(even){
        float: left;
    }

    ul.products li.product {
        width: 45%;
        display: inline-block;
    }

    #masthead div.site-title {
        margin-left: 86%;
    }

    body.archive span.price {
        font-size: 20px;
        text-align: center;
        margin: 0;
        margin-left: 10%;
        width: 60%;
    }

    body.archive a.button.add_to_cart_button {
        width: 22%!important;
        height: 38px !important;
        line-height: 1;
        margin-top: -4% !important;
        margin-right: 0%;
        float: right;
    }

    body.archive li.sale a.button.add_to_cart_button {
        margin-top: -3% !important;
        margin-right: 0;
        float: right;
    }

    body.archive span.price ins {
        display: block;
    }

    body.archive h2.woocommerce-loop-product__title {
        font-size: 20px !important;
    }

    body.archive li.sale a.button.product_type_external,
    body.archive a.button.product_type_external {
        margin-top: 4% !important;
        margin-right: 40%;
        float: right;
        width: 25%!important;
        line-height: 1.5;
    }

    body.archive #main > div > ul > li.product.type-product a.woocommerce-loop-product__link > span.price {
        width: 65%;
    }

    body.archive #main > div > ul > li.product.type-product a.woocommerce-loop-product__link > span.price {
        font-size: 13px;
    }
}

@media screen and (max-width: 320px) {
    body.archive #main > h3 {
        font-size: 22px;
    }

    body.archive span.price {
        font-size: 15px;
    }

    body.archive h2.woocommerce-loop-product__title {
        font-size: 15px !important;
    }

    #masthead div.site-title {
        margin-left: 53%;
    }

    body.archive a.button.add_to_cart_button {
        margin-top: 0 !important;
        margin-right: -10% !important;
        width: 35% !important;
        height: 42px !important;
        line-height: 2;
    }

    body.archive li.sale a.button.add_to_cart_button {
        margin-top: 0 !important;
    }

    body.archive a.button.product_type_external {
        margin-top: 4% !important;
        margin-right: 25% !important;
    }

    body.archive li.sale a.button.product_type_external, body.archive a.button.product_type_external {
        width: 35% !important;
    }
}
